//- Треугольники
mixin triangles(leftColor, rightColor)
    svg.triangles(xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 85" preserveaspectratio="none")
        polygon(class= `triangles triangles_color_${leftColor}` points="0,0   0,86   500.8,86   500.8,75.5")
        polygon(class= `triangles triangles_color_${rightColor}` points="1000,0   1000,86   500,86   500,75.5")  
//- Стрелка
mixin arrow(className, link)
    a(class=`arrow arrow_${className}` href=`${link}`)
        svg.arrow__img(class='arrow__img')
            use(xlink:href="./assets/img/sprite.svg#arrow_down")  
   
//- Социалки
mixin socials(className)
    ul(class=`socials socials_${className}`)
        each item in ['vk', 'github', 'in']
            li.socials__item
                a.socials__link(href="#")
                    svg.socials__icon
                        use(xlink:href=`./assets/img/sprite.svg#${item}`)
//- Навигация
mixin nav(className, modName, obj, activeItem)
    nav(class=`${className} ${className}_${modName}`)
        ul(class=`${className}__list`)
            each item, index in obj
                li(class=`${className}__item` + ((index === activeItem) ? ` ${className}__item_active` : ''))
                    a(href=`./${item.link}.html` class=`${className}__link`)= item.title
//-Заголовок секции
mixin title(titleName, titleImg, titleText, titlesubText)
    div(class=`title title_${titleName}`)
        svg.title__img
            use(xlink:href=`./assets/img/sprite.svg#${titleImg}`)
        .title__text #{titleText}
        .title__subtext #{titlesubText}  
//-Подаголовок секции
mixin subtitle(titleName, titleText, titlesubText)
    div(class=`subtitle subtitle_${titleName}`)
        div(class= "subtitle__text") #{titleText}      
        div(class= "subtitle__subtext") #{titlesubText} 
//-Пользователь
mixin user(className)
    div(class=`user user_${className}`)
        .user__img
            img(class="user__img-pic" src="./assets/img/about/photo.png" alt="Фото")  
        .user__name Тимур Адольшин
        .user__text Личный веб-сайт разработчика
//-Якоря блога
mixin anchors(activeItem)        
    ul.anchors
        each item, index in [['Самое важное в SASS','#article1'],['Приёмы в верстке, без которых не обходится ни один сайт','#article2'],['Самый необходимый набор Gulp плагинов','#article3'],['Почему я выбрал Pug','#article4']]
            li(class=`anchors__item` + ((index === activeItem) ? ` anchors__item_active` : ''))
                a(href=`${item[1]}` class='anchors__link')= item[0]


